<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Email confirmation</title>
    </head>
    <body style="font-family: Arial, sans-serif; color: #333; line-height: 1.6;">
        <h2>
            Please confirm resetting your password
        </h2> 

        <p>
            Hello {{ user_name }},
        </p>
        <p>
            To reset your password, click the link below:
        </p>
        <a href={{reset_url}}>
            {{reset_url}}
        </a> 
        <p>
            If you didn't request this, just ignore this email.
        </p>
        <p>
            Best regards,  
            <br />
            The v2app Team
        </p>
    </body>
</html>